@model LoginViewModel

@{
	ViewBag.Title = "Login";
	ViewBag.Subtitle = "Sign Up";
}

<div id="view-login" class="content">
	<div class="login floatleft marginright20">
		
		<h3>Login</h3>

		@using (Html.BeginForm())
		{
			@Html.Partial("_LoginForm")
		}
	
		@* Facebook Login *@
		@Html.Partial("_FacebookLogin")
	</div>
	
	@using (Html.BeginForm("SignUp", "Auth", FormMethod.Post, null))
	{
		@Html.Partial("_SignUpForm", new SignUpViewModel())
	}
		
	<div class="clearall"></div>
</div>