@model LoginViewModel

@{
	Layout = "~/Views/Shared/_LayoutNoShell.cshtml";
	ViewBag.Title = "Login";
	ViewBag.Subtitle = "Sign Up";
}

<style type="text/css">
	#middle-wrapper { width: 725px; }
	.fb-note { display: none; }
	.login { padding-top: 24px; }
</style>


	
@if (!ViewBag.LoginViaDialogSuccess)
{
    <div id="view-loginviadialog" class="content">
	    <div class="login floatleft">
		
			<h3>Login</h3>

			@using (Html.BeginForm())
            {
				@Html.Partial("_LoginForm", new ViewDataDictionary(ViewData) { { "LoginViaDialog", true } })
            }
		</div>

		@using (Html.BeginForm("SignUpViaDialog" + (!string.IsNullOrWhiteSpace(Request["editMode"]) ? "?editMode=1" : ""), "Auth", FormMethod.Post, null))
		{
	  		@Html.Partial("_SignUpForm", new SignUpViewModel())
		}
	    <div class="clearall"></div>
    </div>
}
 else
 {
    @section Scripts
    {
        <script type="text/javascript">
            $(function() {
                parent.parent.loginComplete(@(Request["editMode"] == "1" ? "true" : "false"));
            });
        </script>
    }
}


