@using Brewgr.Web
@using Brewgr.Web.Core.Model
@model IList<PartnerSummary>

@{
    Layout = "_PartnerLayout.cshtml";
	ViewBag.Title = "Partner Tools";
}

<div id="view-partnertools" class="content">
    
    <h2>Welcome to Partner Tools</h2>
    
    @Model[0].Name

</div>