
<div class="compliment">
    <ul class="portfolio_list spacermin10">
        <li><span>&rarr;</span> <a href="@Url.Action("Calculators", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Homebrew Calculators</a></li>
        <li><span>&rarr;</span> <a href="@Url.Action("CalculatorsHydrometerTemp", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Hydrometer Correction</a></li>
        <li><span>&rarr;</span> <a href="@Url.Action("CalculatorsMashSpargeWater", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Water Infusion</a></li>
    </ul>
    
    <div class="ad-sense" style="clear: both; padding-top: 10px;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Brewgr - skyscraper -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:160px;height:600px"
             data-ad-client="ca-pub-6867430027291087"
             data-ad-slot="4271990507"></ins>
        <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

</div>

