@using Brewgr.Web.Core.Model
@model BrewSessionViewModel

@{
    if (Request.QueryString["iframe"] == "1") { this.Layout = "~/Views/Shared/_LayoutNoShell.cshtml"; }
    ViewBag.Title = "Mash and Sparge Infusion Water Calculator";
    ViewBag.Description = "Mash and sparge water temperature infusion calculator for homebrew.";
}

<div id="water-calc" class="calculations">
    @Html.Partial("_CalculatorsNavigation")
    <div class="primary">
        <h3>Homebrew Calculators - Mash and Sparge Water Infusion Calculator</h3>
        <div class="ad-sense" style="width: 728px; margin: 18px auto;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Brewgr - calculations letterboard -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-6867430027291087"
                 data-ad-slot="1178923302"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="clearall"></div>
        <div class="builder session">
            <div class="groupbox">
                <span><h3 class="floatleft">Water Infusion</h3></span>
                    <div class="summary paddingleft18 paddingtop20 options">
                        <h3>Calculator Options</h3>
                        <div class="item">
                            <label for="unit">Measurement</label>
                            <select name="unit" data-name="s_UnitType">
                                <option value="s" selected="selected">US</option>
                                <option value="m">Metric</option>
                            </select>
                        </div>
                    </div>

                    @Html.Partial("~/Views/BrewSession/_WaterInfusionCalculator.cshtml", Model)

            </div>
        </div>
    </div>
</div>