@{
    if (Request.QueryString["iframe"] == "1") { this.Layout = "~/Views/Shared/_LayoutNoShell.cshtml"; }
    ViewBag.Title = "How to Calculate IBU/Hop Bitterness";
    ViewBag.Description = "How to calculate the IBUs in your homebrew.";
    ViewBag.Canonical = "http://brewgr.com/calculations/ibu-hop-bitterness";
}

<div class="calculations">
    
    @Html.Partial("_CalculationsNavigation")

    <div class="primary">
        <h3>Calculating IBU/Hop Bitterness</h3>
        
        <div class="ad-sense" style="width: 728px; margin: 18px auto;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Brewgr - calculations letterboard -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-6867430027291087"
                 data-ad-slot="1178923302"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <p> International Bitterness Units (IBU) is a measure of the bitterness in homebrew. One IBU is the same as one milligram of isomerized alpha acid per liter of homebrew. Isomerized alpha acids are the main bittering acids derived from hops. Calculating IBU's can be very tricky, because of this there are many different calculations for determining IBU's. All of these calculations will produce different results. Brewgr uses the Tinseth formula for now. We are working on a new formula for calculating the IBU's in homebrew and will update as soon as we are complete.</p>
        <p class="formula">Gravity = (Batch Size In Gallons / Boil Size In Gallons) * (Gravity - 1)</p>
		<p class="formula">Bigness Factor = 1.65 * Math.pow(0.000125, Gravity)</p>
		<p class="formula">Boil Time Factor = (1 - Math.pow(2.718281828459045235, (-0.04 * Boil Time))) / 4.15</p>
		<p class="formula">Utilization = Bigness Factor * Boil Time Factor</p>
        <p>If you are using hop pellets we then mutiply the utilization by 1.1.</p>
        <p class="formula">IBU = (Alpha Acid * Ounces) * Utilization * 74.90 / Batch Size In Gallons</p>
    </div>
</div>
