@{
    if (Request.QueryString["iframe"] == "1") { this.Layout = "~/Views/Shared/_LayoutNoShell.cshtml"; }
    ViewBag.Title = "How to Calculate Original Gravity";
    ViewBag.Description = "How to calculate the original gravity of your homebrew.";
    ViewBag.Canonical = "http://brewgr.com/calculations/original-gravity";
}

<div class="calculations">
    
    @Html.Partial("_CalculationsNavigation")

    <div class="primary">
        <h3>Calculating Original Gravity</h3>
        
        <div class="ad-sense" style="width: 728px; margin: 18px auto;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- calculations letterboard -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-1415813402338064"
                 data-ad-slot="3928938982"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <p>To understand how to calculate the original gravity of your homebrew we first need to understand specific gravity. Specific gravity is a measure of density. Water has a specific gravity of 1.000 and if you add something to the water it will become more dense, resulting in a higher specific gravity. In beer that something is usually sugar. Let’s say your 5 gallons of stout has an original specific gravity of 1.090, that would mean that it is 9% more dense than 5 gallons of water. Based on this you can assume that the 5 gallons of stout is 9% sugar.</p>
        <p>All grains and malt extracts have a points per pound per gallon (PPG) rating. This is what the specific gravity would be if you added one pound of grain or malt to enough water for a one gallon solution, take a hydrometer reading and that would be the PPG. For instance, if you added 1 pound of liquid malt extract to a bucket, added enough water to bring that to a gallon and took a hydrometer reading of 1.034, the liquid malt extract would have a PPG of 34.</p>
        <p>If you know the points per pound per gallon (PPG) for a certain extract you can calculate the original gravity based on your recipe:</p>
        <p class="formula">Original Gravity = Amount of Extract * PPG / Batch Size</p>
        <p>If the PPG is different than what is listed in Brewgr you can easily adjust the PPG for each fermentable that is added.</p>
        <p class="screenshot"><img src="/img/calculation_ppg.png" width="521" height="113" alt="Calculate Original Gravity PPG Brewgr" /></p>
        <p>When dealing with grains you need to take into account your mash efficiency. Most grain manufacturers supply a PPG number for each grain that is based on a congress mash. A congress mash is a lab procedure that crushes the grain to a fine dust and mashed in perfect settings to determine the absolute maximum sugar that could be extracted from that grain. Unfortunately crushing the grain like this would lead to all sorts of mash issues and off flavors so homebrewers only crack the grain and give up a bit of efficiency. Efficiency is how well your equipment and process does at extracting sugars from the malts in the mash/lauter process. Lets say you create a wort with a gravity of 1.040 from malts that had a maximum potential (PPG) of 1.060, the efficiency is 66%. (40 / 60 = 0.66). When calculating PPG for grains you need to make sure that you take this efficiency into account, so your PPG calculation would look like:</p>
        <p class="formula">Original Gravity = Amount of Extract * PPG * Efficiency / Batch Size</p>
        <p>Brewgr allows you to update your efficiency when creating your recipe.</p>
        <p class="screenshot"><img src="/img/calculation_efficiency.png" width="521" height="178" alt="Calculate Original Gravity Efficiency Brewgr" /></p>
        <p>Brewgr will use this efficiency based on the usage type of the fermentable. When adding your fermentables make sure that your usage is properly set. The usage Indicates how the fermentable is used.  All grain brewers will typically select mash while extract brewers will typically select extract or steep.  For fermentables added late in the boil such as sugar, select late. Mash and steep will take into account the efficiency while extract and late will ignore it and assume 100% extraction of the potential.</p>
        <p class="screenshot"><img src="/img/calculation_usage.png" width="521" height="144" alt="Calculate Original Gravity Usage Brewgr" /></p>
        <p>Once you know the specific gravity for each fermentable, those are just added to determine the total original gravity for your recipe. Start crafting great beer.</p>
    </div>
</div>

