<div class="dashboard-gutteritem padding20">
    <div class="dashboardnews">
        <h2 class="marginbottom5 floatleft">What's New?</h2>
        <p class="marginbottom5 floatright marginright10    ">August 2015</p>
        <div class="clearall"></div>
        <div class="margintop20">
            <h4>Brewgr is Open Source!</h4>
            <p>More here: <a href="@Url.Action("OpenSourceSoftware", "Root")">Open source homebrew software</a></p>            
        </div>
        <div>
            <h4>Recipe Finder</h4>            
            <p>
                We've added a new recipe search tool for finding the recipes you're looking for. <a href="/homebrew-recipe-finder">Check it out here</a>.
            </p>
        </div>
    </div>
</div>