<div class="panel panel-default  hidden-xs">
    <div class="panel-heading">
        <h3 class="panel-title">What's new</h3>
    </div>
    <div class="panel-body">
        <h4>Brewgr is Open Source!</h4>
        <p>More here: <a href="@Url.Action("OpenSourceSoftware", "Root")">Open source homebrew software</a></p>

        <h4>Recipe Finder</h4>
        <p>We've added a new recipe search tool for finding the recipes you're looking for. <a href="/homebrew-recipe-finder">Check it out here</a>.</p>
    </div>
</div>