@using Brewgr.Web
@using Brewgr.Web.Core.Model
@using ctorx.Core.Formatting
@model IList<Brewgr.Web.Models.RecipeSummaryViewModel>

<div class="list list-recipe">
    @foreach (var recipe in Model)
    {
        @Html.Partial("_RecipeListSingleRecipe", recipe)
    }
</div>