@model SearchViewModel

<form accept-charset="UTF-8" action="@Url.Action("Search", "Search")" method="get">
    @Html.TextBoxFor(m => m.SearchTerm, new { Placeholder = "Search for Recipes, Brewers, and More", @class = "form-control" })
    <input type="image" src="@Url.Content("~/img/search-button.png")" alt="search" />
    <a href="/homebrew-recipe-finder">homebrew recipe finder (beta)</a>
</form>
