<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <h1 class="title">
                    @ViewBag.Title
                    @if (!string.IsNullOrWhiteSpace(ViewBag.Subtitle))
                    {
                        <span> / @ViewBag.Subtitle</span>
                    }
                </h1>
            </div>
            <div id="search" class="col-sm-6 col-md-4">
                @Html.Partial("_SearchForm", new SearchViewModel())
            </div>
        </div>
    </div>
</div>