@model FeedbackViewModel

<h3>Have a Suggestion?</h3>

<div id="suggestion-form">
	<p>
		We want Brewgr to be your only brewing software and we want it to help you make better beer.  If you have an idea for a killer feature, describe
		it below and we'll do our best to make it happen.
	</p>

	@Html.TextAreaFor(m => m.Feedback)
	
	<span id="FeedbackCounter">1000 character(s) remaining</span>

    <a href="#" class="button button_green floatleft margintop20">Send</a>

	<div class="success-message floatleft marginleft20 margintop20">
		Thank You!<br />
		Your suggestion has been sent.
	</div>
	<div class="clearall"></div>
</div>
