@using Brewgr.Web
@{
	ViewBag.Title = "About Brewgr";
	ViewBag.Description = "Brewgr is a free online homebrew website and recipe calculator. Brewgr will show you what type of homebrew your recipe will create with homebrew calculations";
}

<div id="about-view" class="content">
	<div class="two_third">
		<h3>
			The idea for Brewgr is simple. 
		</h3>
		
		<p>
			We believe there should exist an all purpose homebrewing website and community to help homebrewers make great beer.  
			The homebrewing website and community should be easy to use and it should empower homebrewers to become better at making great tasting homebrew.
		</p>

		<p>
			The homebrewing website and community should be free and it should stay that way forever.  Homebrewers already spend enough money on equipment and ingredients.  They shouldn't have
			to fork out any more money to manage the homebrew process.  They also shouldn't have to worry about getting invested in a homebrewing tool and end up getting charged 
			once they've added all of their homebrew recipes.
		</p>
		
		<p>
			Lastly, we believe that the homebrewing website and community should be available from any Internet connected computer or mobile device.  Homebrewers shouldn't have to worry about backing up 
			their recipe databases or installing homebrew software on their computers. 
		</p>

	    

        <h3>Contributors</h3>
	    <p>
	        Brewgr was originally created by Jason Zimmerman and Matthew Marksbury in 2011. On August 13, 2015 Brewgr's sorce code became publicly available
	        as open source software on <a href="http://github.com">github.com</a>. The following list comprises the original developers as well as
            <a href="https://github.com/ctorx/brewgr.com/graphs/contributors">all contributors through github</a>.
	    </p>

	    <span class="bold">All contributors in no particular order:</span>
	    <ul>
	        <li><a href="https://github.com/SingleSpeed">Jason Zimmerman</a></li>
	        <li><a href="https://github.com/ctorx">Matthew Marksbury</a></li>
	        <li><a href="https://github.com/KillaBee2k5">KillaBee2k5</a></li>
	    </ul>

	</div>	
	
	<div class="one_third column-last">
		<h3>What is Brewgr?</h3>
	    <p>
	        Brewgr is an online homebrew community and recipe calculator. We will continually be adding
	        new features to make Brewgr better. If you have a feature suggestion, <a href="@Url.Action("Features")">please tell us about it</a>!
	    </p>

        <p>
            <a href="@Url.Action("HowItWorks", "Root")" class="button button_green">See how it works →</a>
        </p>

	</div>
</div>


