@using Brewgr.Web
@{
    ViewBag.Title = "About Brewgr";
    ViewBag.Description = "Brewgr is a free online homebrew website and recipe calculator. Brewgr will show you what type of homebrew your recipe will create with homebrew calculations";
}

<div id="vw-about" class="container view">

    <div class="row">
        <div class="col-md-8">
            <h2 class="page-header">The idea for Brewgr is simple. </h2>
            <p>
                We believe there should exist an all purpose homebrewing website and community to help homebrewers make great beer.
                The homebrewing website and community should be easy to use and it should empower homebrewers to become better at making great tasting homebrew.
            </p>
            <p>
                The homebrewing website and community should be free and it should stay that way forever. Homebrewers already spend enough money on equipment and ingredients. They shouldn't have
                to fork out any more money to manage the homebrew process. They also shouldn't have to worry about getting invested in a homebrewing tool and end up getting charged
                once they've added all of their homebrew recipes.
            </p>
            <p>
                Lastly, we believe that the homebrewing website and community should be available from any Internet connected computer or mobile device. Homebrewers shouldn't have to worry about backing up
                their recipe databases or installing homebrew software on their computers.
            </p>
            <p>
                <a href="@Url.Action("HowItWorks", "Root")" class="btn btn-success btn-lg">How It Works</a>
                <a href="@Url.Action("Features", "Root")" class="btn btn-success btn-lg">Features</a>
            </p>

            <h3>Who Created Brewgr?</h3>
            <p>
                Brewgr was originally created by Jason Zimmerman and Matthew Marksbury in 2011. On August 13, 2015 Brewgr's sorce code became publicly available
                as open source software on <a href="http://github.com">github.com</a>.
            </p>
            <h4 class="well page-header">Contributors <small>in no particular order</small></h4>
            <ul>
                <li><a href="https://github.com/SingleSpeed">Jason Zimmerman</a></li>
                <li><a href="https://github.com/ctorx">Matthew Marksbury</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            @Html.Partial("_ResponsiveAd")
            @Html.Partial("_ResponsiveAd")
        </div>
    </div>
</div>




