@{
    ViewBag.Title = "Frequently Asked Questions";
}


<div id="view-faq" class="content">
    <div class="two_third floatleft">
        
        <p>Have a question?  Check out our frequently asked questions below.</p>
        
        <ul>
            <li><a href="#WhatIsBrewgr">What is Brewgr?</a></li>
            <li><a href="#HowMuchCost">How Much Does Brewgr Cost?</a></li>
        </ul>

        <hr class="margintop20 marginbottom20" />
        
        

    </div>
    <div class="">
        <h3>Ask the Brewgr Team</h3>
        <p>Can't find what you're looking for?  Send us your question using the "Feedback" button on
            the left side of your screen and we'll get back to you promptly.</p>
    </div>
    <div class="clearall"> </div>
</div>