@using System.Diagnostics
@using System.Reflection
@using Brewgr.Web
@{
	ViewBag.Title = "Homebrew Website and Recipe Calculator Features";
	ViewBag.Description = "Brewgr is a homebrew recipe calculator with support for all grain and extract, recipe cloning, style guide, homebrew calculations, custom ingredients and more";
}

<div id="view-features" class="content">
    <div class="two_third floatleft">
		
        @*<h3>February 3, 2014</h3>
        <p>
            When we originally implemented Brew Session functionality on the site, the project was a bit rushed and ended up not working
            quite as well as we had liked.  The system was rigid with lots of requirements and was a bit difficult to find.  We've known
            this was a problem for some time and we've finally completed a significant overhaul of brew sessions which we hope will make 
            tracking your brews much easier from brew day through to enjoyment of the finished product.
        </p>
 
        <h4>Moving Between Your Recipe and Brew Session</h4>
        <p>
            Previously, going from your recipe to your brew session was difficult taking 
        </p>*@

        <h3>February 5, 2014</h3>

        <p>
            We have added the ability to add mash steps to your recipe. You can chose from the commonly used mash step types or create a
            custom mash step. As with all ingredients your steps will stay in the order that you choose.  Each mash step row can be dragged
            up or down to change the sort.  The order you see when you save the recipe is the order you'll see when you look at it later.<br /><br />
            <div class="img-wrap">
                <a href="/img/features/MashSteps.jpg" class="cboxElement group1" title="Add Mash Steps"><img src="/img/features/MashSteps.jpg" alt="Add Mash Steps" width="510" /></a>
            </div>

        </p>

        <h3>January 20, 2014 -- Brewgr v2.0</h3>

        <p>
            Brewgr, the free homebrew software for homebrewers has been helping homebrewers create and share homebrew recipes since August 1, 2011.  
            Since that time we've received a lot of feedback about what was missing as well as areas that needed improvement. 
        </p>

        <p>
            We've listened to your feedback and we've used it to make significant improvements to our free homebrewing software. The following is a 
            breakdown of everything we've added or changed. We hope these new features and improvements will help you and other homebrewers make 
            better beer.  Please try out the new features and be sure to let us know how we're doing.
        </p>

        <h4>Dashboard</h4>

        <p>
            We've been allowing Brewgr users to follow other Brewgr users for some time now, but we didn't provide any centralized way of keeping 
            track of what all of your followers have been up to on Brewgr.
        </p>

        <p>
            With this release, we introduce the Brewgr dashboard, a feed of activity from the other Brewgr users that you follow. See Recipes and 
            Brew Sessions from your followers, and leave comments directly from the dashboard, much like many of your favorite social networks. 
            Not following anyone? Don't worry, we'll show you activity from the community instead. Seeing what other homebrewers are up to can 
            be great inspiration for your next batch.
        </p>

        <p>
            The dashboard also provides a tabbed interface that allows you quick access to your homebrew recipes and brew sessions. You'll 
            automatically be taken to your new Brewgr homebrew dashboard when you log in, and everything you need should be right there.
        </p>
        
        <div class="img-wrap">
            <a href="/img/features/dashboard.jpg" class="cboxElement group1" title="The new Brewgr Dashboard"><img src="/img/features/dashboard.jpg" alt="Brewgr Dashboard" width="510" /></a>
        </div>

        <h4>Recipe Calculator and Recipe Builder</h4>

        <p>
            The homebrew recipe calculator and builder is the core of Brewgr, and we know how important this tool is in helping you and other 
            homebrewers design high quality homebrew recipes. We've redesigned the recipe calculator and builder from the ground up, keeping 
            the things that worked well, fixing the things that didn't work well, and added numerous new features. We've also paid special 
            attention to performance to ensure that the recipe calculator and builder is fast and responsive.
        </p>

        <p>The following improvements and enhancements have been added:</p>

        <div class="bold">Metric Units and Conversion</div>
        <p>
            This has been one of the most requested features by users who don't want to use US standards of measure.  When building a recipe or 
            cloning a new recipe, you can now easily switch back and forth between US and metric units easily, directly on the recipe calculator 
            and builder while you build or edit your recipe.  All previously entered values will automatically convert when you switch between 
            unit types.  Additionally, your recipe will be saved in the selected unit of measure so it remains consistent in the units you want 
            to work with.
        </p>

        <div class="img-wrap">
            <a href="/img/features/Metric-Units.jpg" class="cboxElement group1" title="Easily switch between US or Metric Units"><img src="/img/features/Metric-Units.jpg" alt="Metric Units" width="510" /></a>
        </div>

        <div class="bold">Recipe Scaling</div>
        <p>
            We know that everyone's brew setup is different.  Some brewers make 5 gallon batches while others make 10 gallon batches.  We also see 
            lots of homebrewers making 1 gallon batches to test out ideas on a small scale.  Regardless of your setup, we now offer recipe scaling, 
            which will automatically scale all of the ingredients on a recipe to match your target size.  This will surely make brewing recipes 
            from other homebrewers much easier.
        </p>

        <div class="img-wrap">
            <a href="/img/features/Scale.jpg" class="cboxElement group1" title="Quickly scale recipes to any size"><img src="/img/features/Scale.jpg" alt="Scale Recipes" width="510" /></a>
        </div>

        <div class="bold">Easier Amount Selection</div>
        <p>
            We had a lot of complaints about having to scroll through many drop down menus to enter the amounts for fermentable, hops and other stuff.  
            Additionally, we previously limited entry of these values to whole numbers, causing some users to round up or down.  We've replaced the 
            drop down menus with text boxes allowing you to directly enter the desired amount.
        </p>

        <div class="img-wrap">
            <a href="/img/features/Amount-Selection.jpg" class="cboxElement group1" title="Enter precise amounts by typing instead of scrolling"><img src="/img/features/Amount-Selection.jpg" alt="Metric Units" width="510" /></a>
        </div>

        <div class="bold">IBU Calculation Formulas</div>
        <p>
            Up until now, we've calculated IBUs using a proprietary formula which draws upon Tinseth and Rager, but wasn't a recognized formula in 
            the homebrewing community.  To provide consistency across multiple brewing software programs and to allow alternate IBU calculations, 
            we added both Tinseth and Rager.  Simply choose the method you prefer when building your recipe, and switch between them to see their 
            different IBU estimates in real time.
        </p>

        <div class="img-wrap">
            <a href="/img/features/IbuFormula.jpg" class="cboxElement group1" title="Choose your preferred IBU calculation formula"><img src="/img/features/IbuFormula.jpg" alt="Ibu Formulas" width="510" /></a>
        </div>

        <div class="bold">IBU Indicators</div>
        <p>
            To help understand the bitterness and hop profile of your recipe, we've added an IBU indicator for each hop that you add to your recipe.  
            As you make changes to your recipe, you'll see these IBU values go up or down, helping you to understand visually, where the bulk of 
            the bitterness is coming from in your recipe.
        </p>

        <div class="img-wrap">
            <a href="/img/features/IBU-Indicators.jpg" class="cboxElement group1" title="See where your IBUs are coming from"><img src="/img/features/IBU-Indicators.jpg" alt="IBU Indicators" width="510" /></a>
        </div>

        <div class="bold">Hop Usages</div>
        <p>
            We've changed how we categorize the usage of hops on a recipe by adding a few new options and consolidating a few others.  We've added 
            First Wort and Flame Out as new options, and we've consolidated Primary and Secondary into Dry Hop.  If you choose First Wort, the boil 
            minutes for that hop will automatically match the recipe boil time.  If you choose Flame Out, the minutes will automatically get set to 0.  
            These minor changes will help provide better consistency with your recipes and prevent unintended entries that can lead to unexpected 
            results in the final beer.
        </p>

        <div class="img-wrap">
            <a href="/img/features/Hop-Usages.jpg" class="cboxElement group1" title="New Hop Usges including First Wort and Flame Out "><img src="/img/features/Hop-Usages.jpg" alt="Hop Usages" width="510" /></a>
        </div>

        <div class="bold">Additional Units on Other Ingredients</div>
        <p>
            Previously for other ingredients which included things like Irish Moss or Orange Peels, we had limited unit types, which prevented people 
            from accurately representing the amount of specialty ingredients.  We've replaced the previous units with a more extensive list that better 
            reflects the way in which you'd want to measure these ingredients.  Additionally, if you switch between US Standard and Metric units, we'll 
            pick the best matching unit type in the selected measurement system and do the conversion for you automatically, saving you time having to 
            lookup the conversion calculations.  Additionally, if you scale a recipe, we'll scale these ingredients too.
        </p>

        <div class="img-wrap">
            <a href="/img/features/units.jpg" class="cboxElement group1" title="More extensive unit types for other ingredients"><img src="/img/features/units.jpg" alt="Unit Types" width="510" /></a>
        </div>

        <div class="bold">Ingredient Sorting</div>
        <p>
            In the previous version of our recipe calculator and builder, ingredients would get automatically sorted based upon their amounts, usages, etc.  
            This seemed like a good idea at the time, but we quickly learned that the feature was getting in the way, so we scrapped it in this version 
            and replaced it with a manual sorting option.  Simply put, your ingredients will stay in the order that you choose.  Each ingredient row can 
            be dragged up or down to the ideal location.  The order you see when you save the recipe is the order you'll see when you look at it later. 
        </p>

        <div class="img-wrap">
            <a href="/img/features/Sorting.jpg" class="cboxElement group1" title="Easily sort any ingredient list"><img src="/img/features/Sorting.jpg" alt="Sorting" width="510" /></a>
        </div>

        <div class="bold">Sticky Recipe Facts</div>
        <p>
            Brewgr's recipe calculator and builder shows the Recipe Facts on the right side of the page, allowing you to see real time calculation changes 
            as you build and tweak your recipe.  In the previous version, you would have to scroll up and down to see these calculations, because the 
            Recipe Facts would remain at the top of the page when you were lower on the page.  We've changed this so that as you scroll down the page, 
            the Recipe Facts follows you, preventing the need to scroll up and down as you build your recipe.
        </p>

        <div class="img-wrap">
            <a href="/img/features/Sticky-Facts.jpg" class="cboxElement group1" title="The Recipe Facts follow you as you build your recipe"><img src="/img/features/Sticky-Facts.jpg" alt="Sticky Facts" width="510" /></a>
        </div>

        <div class="bold">Performance</div>
        <p>
            We've redesigned the recipe calculator and builder from the ground up, improving areas that were problematic in terms of performance.  The 
            new homebrew recipe calculator and builder should be faster at loading, building recipes and saving.
        </p>
        
        <div class="bold">Updated Ingredient Lists</div>
        <p>
            Brewgr has always allowed for the entry of custom ingredients, yet we still received numerous suggestions to increase the number of ingredients 
            available to choose.  We listened.  We spent a lot of time reviewing our current ingredient list, evaluating recipes with custom ingredients, 
            and doing additional research on common and popular ingredients.  You'll be happy to find that our new ingredient lists are more extensive than 
            in the previous versions.  Again, we think this will save you time and let you focus on building an awesome recipe.
        </p>

        <div class="img-wrap">
            <a href="/img/features/Ingredient-List.jpg" class="cboxElement group1" title="More Extensive Ingredient Lists"><img src="/img/features/Ingredient-List.jpg" alt="Ingredients" width="510" /></a>
        </div>

        <div class="bold">Ingredient Search</div>
        <p>
            Another complaint we've received often is the difficulty in finding and selecting ingredients when building a recipe.  In the previous version, 
            the only way to find an ingredient was to scroll through the list until you found it.  We had the ingredients alphabetized within categories, 
            but we agree, it was challenging at times.  To remedy this problem, we removed the categories, alphabetized the lists, and added search 
            functions.  Using the search function, you can type a few letters or a word, and the list will automatically filter, allowing you to quickly 
            select the ingredient you are looking for.
        </p>

        <div class="img-wrap">
            <a href="/img/features/Ingredient-Search.jpg" class="cboxElement group1" title="Quickly find ingredients using the new filter option"><img src="/img/features/Ingredient-Search.jpg" alt="Ingredient Search" width="510" /></a>
        </div>

        <div class="bold">Comments on Brew Sessions</div>
        <p>
            We've had the ability to comment on a Recipe for some time now, but we haven't had the option to leave comments on a brew session.  With this 
            release you can now leave comments on brew sessions, either from the brew session page or from the homebrew dashboard.  We hope that the added 
            collaboration option will help Brewgr users communicate more, helping everyone to become better homebrewers.
        </p>

        <div class="img-wrap">
            <a href="/img/features/brew-session-comments.jpg" class="cboxElement group1" title="Leave comments and discuss brew sessions"><img src="/img/features/brew-session-comments.jpg" alt="Brew Session Comments" width="510" /></a>
        </div>

        <div class="bold">Many Thanks to the Brewgr Community</div>
        <p>
            We've seen a lot of growth since we launched Brewgr in August of 2011.  Many of the features now available in this release are a direct result 
            of Brewgr users clicking the “Feedback” icon on the left side of the screen and sending us suggestions or complaints.
        </p>

        <p>
            While we stay busy, we do our best to be responsive to you.  Our ultimate goal is to provide the best free homebrew software available.  With 
            your help, we can continue working toward that goal.  Please continue to send us your feedback (good and bad) as well as any feature suggestions 
            or gripes.
        </p>

        <p>Cheers!</p>
        
        <p></p>

        <h3>February 11, 2013</h3>
        <ul class="list">
            <li>
                Looking for other homebrewers to connect with?  We are too!  To make this easier, we updated our site search feature to search for other Brewgr users
                as well as homebrew recipe and blog posts.  Give it a try!
            </li>
            <li>
                Did you know that you can add tasting notes to your recipes?  You sure can!  Just create a brew session for your recipe and add as many tasting
                notes as you like.  Once you do this, your recipe will automatically get rated based on your tasting notes.
            </li>
        </ul>
        <p></p>

        <h3>February 9, 2013</h3>
        <ul class="list">
            <li>
                We've spent the last week focusing on the homebrew recipe calculator.   Primarily, we've changed the way we present the list
                of fermentables.  Previously, we showed a long un-categorized list of homebrew fermentables and you had to sometimes dig through to
                find what you were looking for.  We've added categories such as Base Malts, Caramel Malts, Sugars, Roasted Malts, etc. to make things easier to find.
                We've also added a color representation of each fermentable in the fermentables list.  We hope these 
                changes will help making recipes a little easier.
            </li>
            <li>
                We also added auto sorting to the homebrew ingredient lists.  As you make changes to the amounts and properties of the ingredients in your
                homebrew recipes, they will automatically sort, making it easier to keep track of things.
            </li>
            <li>
                Lastly, we added the ability to sort the brew day instructions for a recipe.  Previously, if you forgot a step, there was no way to go back and insert
                it into the right order, leaving you only to delete some steps and re-enter them.  Now, you can enter them in any order you like and just drag and drop them
                to their correct location. 
            </li>
        </ul>
        <p></p>

        <h3>February 1, 2013</h3>
        <ul class="list">
            <li>
                We've fixed several little glitches and bugs over the last week and added a few usability improvements.  One of which, we want to highlight is sorting of 
                brew day instructions when creating or editing a recipe.  We heard a few complaints about having to delete and re-add brew day steps if one was forgotten
                while entering them.  Not to worry, we've added a sorting capability to the brew day instructions.  Simply drag and drop the step to the position you want it.
                The steps will automatically be renumbered.  This allows you to go back and re-add the missing step and drag it to the appropriate position.  Cheers!
            </li>
        </ul>
        <p></p>

        <h3>January 28, 2013</h3>
        <ul class="list">
            <li>
                With all of the great homebrewers and homebrew recipes on Brewgr, it can be difficult to get back to that brewer or recipe 
                that you were interested in.  Today we introduce the ability to Follow other brewers.  This will allow you to start following your homebrewing friends
                who are also on Brewgr as well as brewers you may not have met but like their recipes.  Happy Brewing!
            </li>
        </ul>
        <p></p>
	    
        <h3>January 22, 2013</h3>
        <ul class="list">
            <li>
                We're almost to February, but don't worry, there's still plenty of time to make some delicious homebrew beer.  In the meantime, 
                we've added the ability to import and export recipes using the Beer XML format.  Using the Beer XML feature you can import recipes
                from other homebrew software, and export from Brewgr for use in other brewing software as well.  Cheers!
            </li>
        </ul>
        <p></p>

        <h3>January 11, 2013</h3>
        <ul class="list">
            <li>
                Happy New Year! Today we launched an addition to our brew session functionality, Water infusion. You are now able to calculate 
                the amount of mash and sparge water you will need for your all-grain batch and calcualte the proper stike temperature 
                of your mash water. This was also added as a stand alone calculator under tools.        
            </li>
        </ul>
        <p></p>

        <h3>December 27, 2012</h3>
        <ul class="list">
            <li>
                Happy Holidays from Brewgr!  We've been busy brewing and drinking beer for the holidays, but we
                mananged to squeeze in a minor enhancement.  You can now enter a personal bio that will show
                up on your Brewgr profile.  You can access this new feature under your settings.
            </li>
        </ul>
        <p></p>

        <h3>December 4, 2012</h3>
        <ul class="list">
            <li>
                Today we launched the next major feature of Brewgr...Brew Sessions.  Brew Sessions now allow you
                to specify the specific details about your brew day, fermentation stage, conditioning stage, and 
                the ability to add tasting notes.  Best of all, brew sessions are independent of Recipes, so if 
                you brew the same recipes often, you simply need to add a new brew session to the existing recipe.
            </li>
        </ul>
        <p></p>
		
        <h3>December 2, 2012</h3>
        <ul class="list">
            <li>
                We had some major issues with our homebrew recipe calculator not working as expected
                when using FireFox.  Those issues have been addressed...we apologize to all the FireFox 
                users who were affected by this.
            </li>
        </ul>
        <p></p>
		
        <h3>September 10, 2012</h3>
        <ul class="list">
            <li>
                We realize that the ingredients of a homebrew recipe are only one part of the recipe.  In order
                to reproduce a recipe it is important to know the process behind it.  We've added a section to
                the homebrew recipe calculator called "Brewing Steps" which will allow you to enter any number 
                of instructions that are important to reproducing a recipe.
            </li>
        </ul>
        <p></p>
		
        <h3>August 23, 2012</h3>
        <ul class="list">
            <li>We've added the ability to add comments to Recipes.  Happy commenting.</li>
        </ul>
        <p></p>
		

        <h3>August 1, 2012</h3>
        <p>
            We're excited to launch the first version of Brewgr.com, an online homebrew communiy and recipe calculator for homebrewers.  This first launch barely scrapes the 
            surface of what we have planned, so stick around, give us feedback and help us grow to be the best online homebrewing recipe calculator!
        </p>
		
        <p>Here's what you get with the launch:</p>
		
        <ul class="list">
            <li>Dynamic recipe calculator for building custom homebrew recipes</li>
            <li>Support for both Extract and All Grain homebrewers</li>
            <li>Ability to change key properties of recipe ingredients including Ppg, Lovibond, AA, Attenuation, etc.</li>
            <li>Easily add custom ingredients that aren't yet in our homebrew ingredient database</li>
            <li>Use our homebrew Style Guide to find out which BJCP (Beer Judge Certification Program) styles your recipes most closely match</li>
            <li>Quickly create new homebrew recipes from existing recipes using the Recipe Clone tool.</li>
        </ul>

    </div>
    <div class="last">
        @Html.Partial("_SuggestionForm", new FeedbackViewModel())
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $(".group1").colorbox({ rel: 'group1' });
        });
    </script>
}