@{
    ViewBag.Title = "Open Source Homebrew Software";
    ViewBag.Description = "Brewgr is a homebrew recipe calculator with support for all grain and extract, recipe cloning, style guide, homebrew calculations, custom ingredients and more";
}

<div id="view-opensource" class="content">
    <div class="one_third column-last">
        <a href="https://github.com/ctorx/brewgr.com"><img src="~/img/github.png" alt="Brewgr on Github" /></a>
    </div>
    <div class="two_third">
        <h3>
            Brewgr is now open source software!
        </h3>

        <p>
            The homebrew software that runs brewgr.com is now open source. We hope that passionate developers out
            there will help us work on it so that it can continue to grow and serve as a valuable tool
            to the homebrew community.
        </p>
        <p>
            If you're interested in contributing to the project or have ideas, head on over to the
            <a href="https://github.com/ctorx/brewgr.com">repository at github</a> to get started.
            You can download the code and start working. If you're not a developer you can log feature requests and bugs.
            All contributions are appreciated.
        </p>
        <p>
            <a href="https://github.com/ctorx/brewgr.com">https://github.com/ctorx/brewgr.com</a>
        </p>
        <p>
            Cheers and Happy Coding!<br/>
        </p>
    </div>
</div>
