@model BrewSessionViewModel

<a name="comments" id="comments"></a>

@if(Model.CommentWrapperViewModel.CommentViewModels.Count > 0 || ViewBag.ActiveUser != null)
{
    <h3 class="commentheader">Comments</h3>
    @Html.Partial("_Comments", Model.CommentWrapperViewModel)
}