@{
	ViewBag.Title = "404 Not Found";
	Response.Status = "404 Not Found";
	Response.StatusCode = 404;
}

<div id="view-404" class="content">
	<h2>Uh Oh!  We couldn't find the page you were looking for</h2>
	
	<p>
		Either you've had too much to drink, the link you clicked on is broken, or we did something wrong.
	</p>
	
	<h3>
		You can try one of the following:
	</h3>
	
	<ul class="list">
		<li>Go to <a href="http://brewgr.com">http://brewgr.com</a> to find what you are looking for</li>
		<li>Use the search box near the top right of your screen to search for what you were looking for</li>
		<li>Wait until you sober up and try again</li>
	</ul>
</div>
