@{
	ViewBag.Title = "500 Server Error";
	Response.Status = "500 Server Error";
	Response.StatusCode = 500;
}

<div id="view-404" class="content">
	<h2>Uh Oh! Something Really Bad Happened</h2>
	
	<p>
		Either we're really busy or you've discovered a bug in our software.  We're sorry about that.
	</p>
	
	<h3>
		You can try again by refreshing the page.
	</h3>
</div>
