@{
    Layout = "~/Views/Calculators/_CalculatorsSubLayout.cshtml";
    ViewBag.Title = "Homebrew Calculators";
    ViewBag.Description = "Homebrew calculators for making homebrew calculations.";
    ViewBag.ViewId = "vw-calculaator";
}

<h2 class="page-header visible-md visible-lg">Homebrew Calculators</h2>

<div class="ad-sense" style="width: 728px; margin: 18px auto;">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- calculations letterboard -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-1415813402338064"
         data-ad-slot="3928938982"></ins>
    <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<p>Brewgr makes brew day calculation easy with these homebrew calculators. Select a calculator below to get started:</p>

<ul class="maincalcs">
    <li><a href="@Url.Action("CalculatorsHydrometerTemp", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Hydrometer Temperature Correction</a><br />A hydrometer is calibrated at a certain temperature. Use this calculator to determine the correct specific gravity.</li>
    <li><a href="@Url.Action("CalculatorsMashSpargeWater", "content", null, "http")@if (Request.QueryString["iframe"] == "1"){<text>?iframe=1</text>}">Mash Sparge Water Infusion</a><br />There are numerous water calculations that go into brewing an all-grain batch of homebrew. Use this calculaor to determine mash and sparge water volumes and temperatures.</li>
    <li><a href="/homebrew-recipe-calculator">Recipe Calculator</a><br />The guts of Brewgr. Everything you need to build and calculate your recipe.</li>
</ul>




