@model CalculatorHydrometerTempViewModel

@{
    Layout = "~/Views/Calculators/_CalculatorsSubLayout.cshtml";
    ViewBag.Title = "Hydrometer Temperature Correction Calculator";
    ViewBag.Description = "Hydrometer temperature correction calculator for homebrew.";
    ViewBag.ViewId = "vw-hydrocalc";
}

<h2 class="page-header visible-md visible-lg">Hydrometer Temperature Correction Calculator</h2>

<p class="hidden-xs">
    Most hydrometers are calibrated to give an acurate reading at 60F or 68F. Use this calculator to calculate corrections to a
    hydrometer reading when taken at a different temperature than the hydrometer's calibrated temperature.
</p>
<p class="visible-xs">
    Use the following calculator to correct hydrometer readings taken at temperatures other than the calibrated temperature.
</p>

<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Temperature Scale</label>
                <select id="scale" class="form-control">
                    <option value="f" selected="selected">F (Fahrenheit)</option>
                    <option value="c">C (Celcius)</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="form-group">
                <label>Measured Temp</label>
                <input type="number" step=".1" class="form-control" id="mtemp" value="68"/>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="form-group">
                <label>Target Temp</label>
                <input type="number" step=".1" class="form-control" id="ttemp" value="68"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="form-group">
                <label>Measured Gravity</label>
                <input type="number" step=".001" class="form-control" id="mgravity" value="1.050"/>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="form-group">
                <label>Corrected Gravity</label>
                <input type="text" class="form-control" id="cgravity" value="1.050" disabled/>
            </div>
        </div>
    </div>
    <button class="btn btn-success btn-lg">Calculate Correct Gravity</button>
</div>

<script type="text/javascript">
    $(function () {
        $('#scale').change(function () {
            var func = $('#scale').val() === "f" ? util.c_To_f : util.f_To_c;
            $('#mtemp').val(func($('#mtemp').val()));
            $('#ttemp').val(func($('#ttemp').val()));
        });
        $('#vw-hydrocalc button').click(function () {

            var mtemp = $('#scale').val() === 'f' ? $('#mtemp').val() : util.c_To_f($('#mtemp').val());
            var ttemp = $('#scale').val() === 'f' ? $('#ttemp').val() : util.c_To_f($('#ttemp').val());
            var corrected = ($('#mgravity').val() * ((1.00130346 - 0.000134722124 * mtemp + 0.00000204052596 * Math.pow(mtemp, 2) - 0.00000000232820948 * Math.pow(mtemp, 3)) / (1.00130346 - 0.000134722124 * ttemp + 0.00000204052596 * Math.pow(ttemp, 2) - 0.00000000232820948 * Math.pow(ttemp, 3))));
            $('#cgravity').val(corrected.toFixed(3));
            $(this).blur();
            $('#cgravity').flash();
        });
    });
</script>

