/* ---- [ admin general ] ---------------------------------------------> */	
	#view-admin {font-size: 14px; }
	.data { margin-bottom: 4px; }
	.data label { display: inline-block; width: 175px; font-weight: bold; }
	.data span { display: inline-block; }
	hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
	#view-admin a:link { text-decoration: underline; }
	#view-admin a.button:link { text-decoration: none; vertical-align: middle; }
	b { font-weight: bold;}
	div.limitheight { height: 210px; overflow-y: auto;}
	.username { width: 200px; }

/* ---- [ admin tables ] ---------------------------------------------> */
	table.admin-table { border: solid 1px #ccc; border-collapse: collapse; width: 100%; }
	table.admin-table td { border: solid 1px #ccc; padding: 8px; }
	table.admin-table th { background-color: #aaa; color: #fff; font-weight: bold; text-align: left; padding: 8px; }
	table.admin-table tr.even td { background-color: #eee; }
	
/* ---- [ import-products ] ---------------------------------------------> */
	#view-importproducts .affiliate { margin-top: 12px; }
	#view-importproducts .image { float: left; width: 125px; height: 60px; background-color: #fff; border: solid 1px #ccc; padding: 12px; margin-right: 12px; }
	#view-importproducts .details { margin-left: 18px; padding-top: 4px;  }
	#view-importproducts .details h3 a { color: #333;  }
	#view-importproducts .details form input[type=file] { margin-top: 8px; border: dashed 1px #ccc;   }
	#view-importproducts .details form .button { padding: 6px 14px;  }
