@using Brewgr.Web
@using Brewgr.Web.Core.Model

@{
    Layout = "_AdminLayout.cshtml";
	ViewBag.Title = "Affiliates";
}

<div id="view-importproducts">
    
    <div class="affiliate">
        <div class="image">
            <a href="http://www.anrdoezrs.net/click-7028218-10997231" target="_blank">
                <img src="http://www.ftjcfx.com/image-7028218-10997231" width="120" height="60" alt="MidwestSupplies.com" border="0"/>
            </a>
        </div>
        <div class="details">
            <h3><a href="http://www.anrdoezrs.net/click-7028218-10997231">Midwest Brewing Supply</a></h3>
            <div class="margintop5"><a href="#">View All Products</a></div>
            @using (Html.BeginForm("ImportMidwestProducts", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="ProductFeedFile" id="ProductFeedFile" />
                <input type="submit" value="Import" class="button button_green button_small" />
            }
        </div>
    </div>

</div>
