#view-sendtoshop .step {  }
#view-sendtoshop .step.hidden { display: none; }
#view-sendtoshop .form-field label { font-size: 14px; width: 230px; }
#view-sendtoshop #PhoneNumber, #view-sendtoshop #AlternatePhoneNumber { width: 130px; }

#view-sendtoshop .ingGroup { margin-bottom: 24px; }
    
#view-sendtoshop .ingList { border: solid 1px #aaa;  }
#view-sendtoshop .ingList table { width: 100%; border-collapse: collapse;  }
#view-sendtoshop .ingList thead td { background-color: #666; color: #fff; font-size: 14px; font-weight: bold; padding: 8px; border-left: solid 1px #ccc; border-right: solid 1px #ccc; }
#view-sendtoshop .ingList tbody td { border-right: solid 1px #ccc; }
#view-sendtoshop .ingList thead td:first-of-type, #view-sendtoshop .ingList tbody td:first-of-type { border-left: 0; }
#view-sendtoshop .ingList thead td:last-of-type, #view-sendtoshop .ingList tbody td:last-of-type { border-right: 0; }

#view-sendtoshop .ingList tbody td:first-of-type { width: 25px; text-align: center; }

#view-sendtoshop .ingRow td { padding: 8px; }
#view-sendtoshop .ingRow:nth-child(even) { background-color: #eee; }
#view-sendtoshop .ingRow:nth-child(odd) { background-color: #fff; }
#view-sendtoshop .ingRow input[type=text] { text-align: center; width: 50px; font-size: 12px; }
#view-sendtoshop .ingRow span { font-size: 14px; font-weight: bold; display: inline-block;  }
#view-sendtoshop .ingRow div.instruct { font-size: 11px; display: inline-block; margin: 0 9px; }
#view-sendtoshop .ingRow div.instruct * { vertical-align: middle; }
#view-sendtoshop #flist td:nth-of-type(2), #view-sendtoshop #hlist td:nth-of-type(2), 
    #view-sendtoshop #ylist td:nth-of-type(2), #view-sendtoshop #alist td:nth-of-type(2) { width: 145px; }

#view-sendtoshop #alist td:nth-of-type(3) { width: 60px; }

#view-sendtoshop #flist td:nth-of-type(4), #view-sendtoshop #hlist td:nth-of-type(4) { width: 165px; }

#view-sendtoshop #Comments { width: 910px; height: 100px; padding: 12px; }

#view-sendtoshop .terms label { font-size: 14px; }
#view-sendtoshop #sendtoshop-terms { border: solid 1px #ccc; padding: 18px; overflow-y: scroll; height: 145px; margin-bottom: 18px; background-color: #fff;}
#view-sendtoshop #terms-link { text-decoration: underline; color: #333; }

.working-dialog { min-width: 185px !important; }
