/* ================================================================================================= */
/* NOTE: The CSS in this file is for layout and reusable styles only -- NO view/feature specific */
/* ================================================================================================= */

/*================================================= */
/* Imports
/*================================================= */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);

/*================================================= */
/* Core
/*================================================= */
body { font: 14px/21px Tahoma, Arial, Helvetica, "Trebuchet MS", sans-serif; }
a { color: #585d5e; text-decoration: none; cursor: pointer; }
a:hover { color: #292f33; text-decoration: underline; }

/*================================================= */
/* Layout
/*================================================= */

/* Header */
header { background: #363636; }
header #logo { padding: 14px 0; display: block; }

/* Title Bar */
#titlebar { background: #f7f7f7; padding:10px 0 6px 0; margin:0; border-bottom: 1px solid #d7d7d7;}
#titlebar h1 { letter-spacing: -0.5px; font-size: 28px; color:#555; margin-top: 15px; }
#titlebar h1 span { color:#999999; font-size: 24px;}

/* Search Box */
#search { position: relative; text-align: right; }
#search input[type=text] { display: inline-block; width: 295px; }
#search input[type=image] { position: absolute; right: 24px; top: 6px; }
#search a { font-size: 12px; display: block; text-decoration: underline; margin: 4px 4px 0 0; font-weight: normal; }


/* Footer */
footer { background: #363636; color: #fff; padding: 18px 0; margin-top: 24px; }
footer p { font-size: 14px; color: #eee; }
footer, #subfoot { font-size: 12px; }
footer .logo { display: block; margin: 10px 4px 18px 0; }

footer div:first-of-type p { padding-right: 24px; }

footer h4 { 
    color: #fff; 
    border-bottom: 1px solid #484848; 
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -.5px;
    margin: 5px 0 15px;
    padding: 10px 0;
}

/* Social Icons */
ul#social {
	margin-top: 18px;
    padding-left: 0;
}

ul#social li {
	margin-right:2px;
	width:32px;
	height:32px;
	display: inline-block;
}

ul#social li a {
	-webkit-transition: opacity 120ms ease-in-out;
	-moz-transition: opacity 120ms ease-in-out;
	-o-transition: opacity 120ms ease-in-out;
	transition: opacity 120ms ease-in-out;
	width:32px; 
    height:32px; 
    display: inline-block; 	
    -moz-opacity: 0.4;
    opacity: 0.4; 
    filter:alpha(opacity=0.4);
}

ul#social li a:hover {
	opacity: .7;
	-moz-opacity: .7;
}

ul#social li.facebook a{background:url(../img/social_icons/facebook.png) no-repeat;}
ul#social li.twitter a{background:url(../img/social_icons/twitter.png) no-repeat;}
ul#social li.instagram a{background:url(../img/social_icons/instagram.png) no-repeat;}
ul#social li.youtube a{background:url(../img/social_icons/youtube.png) no-repeat;}
ul#social li.github a{background:url(../img/social_icons/github.png) no-repeat;}

/* Other Links */
ul#otherstuff { padding-left: 0; }
ul#otherstuff li { list-style: none; margin: 0; }
ul#otherstuff li a { color: #eee; font-size: 15px; }

/* Photostream */
footer .photo-stream { padding-right: 10px; }
footer .photo-stream img { 
    float:left; 
    border:3px solid #606570;
    cursor:pointer; 
    -webkit-transition:all 0.2s linear; 
    -moz-transition:all 0.2s linear; 
    -o-transition:all 0.3s linear; 
    -transition:all 0.2s linear; 
    width: 50px; height: 50px; 
}

footer .photo-stream img:hover{ border:3px solid #90959f;}

/* Newsletter Sign Up */
#newsletterform { margin-top: 18px; position: relative; }
#newsletterform input[type=image] { position: absolute; right: 11px; top: 11px; opacity: .7; }
#newsletterform input[type=image]:hover { opacity: 1; }

/* Sub-Footer */
#subfoot { background: #3f3f3f; padding: 12px 0; color: #bbb; }
#subfoot div { padding-left: 8px; }
#subfoot a { color: #fff; text-decoration: none; }

/* Back to Top */
#backtotop {
	position: fixed;
	right:0px;
	display:none;
	bottom: 20px;
	margin: 0 20px 0 0;
}

#backtotop a {
	text-decoration:none;
	border:0 none;
	display:block;
	width:45px;
	height:45px;
	background: url(../img/back_to_top_btn.png) no-repeat 50% 50%;
	background-color:#c0c0c0;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#backtotop a:hover {background-color: #81b600;}

/*================================================= */
/* User Info Box / User Login Button
/*================================================= */
#userinfo { background-color: #47484A; float: right; min-width: 200px; height: 53px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; padding: 6px 8px; margin: 8px 0; }
#userinfo > img { display: block; float: left; } 
#userinfo > ul { display: block; float: left; margin-left: 12px; }
#userinfo > ul > li > a { padding: 10px 0 0 0; color: #eee; border: 0; width: 150px; height: 47px; text-transform: none; font-size: 14px;	 }     
#userinfo a.trigger, #userinfo a.trigger:hover { border: 0 !important; background: initial !important; }
#userinfo .nav > li > ul { margin-left: -52px;  }

#userlogin { float: right; margin: 18px 0 0 0; }
#userlogin a { width: 215px; }
#userlogin a span { display: inline-block; margin-right: 4px; }

/*================================================= */
/* Site Announcement
/*================================================= */
#announcement { padding: 12px; font-size: 20px; color: #fff; text-align: center; background-color: #f79646; }
#announcement a { color: #fff; text-decoration: underline; font-weight: normal; }
#announcement a:hover { text-decoration: none; }


/*================================================= */
/* Main Nav
/*================================================= */
#navigation { float: left; display: inline-block; }
#navigation li:nth-of-type(2) ul { width: 270px; }
#navigation li:nth-of-type(2) ul li a { width: 240px; }

#navigation li:nth-of-type(3) ul { width: 300px; }
#navigation li:nth-of-type(3) ul li a { width: 270px; }


/*================================================= */
/* NAV Shared (main nav and user menu)
/*================================================= */
ul.menu, ul.menu li  {list-style:none; padding:0; margin:0; display:inline; }

ul.menu li { float:left; position:relative; }

ul.menu li a { 
	font-family: "Open Sans", Arial, sans-serif;
	display: inline-block;
	padding: 23px 18px 26px 18px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	border-top: 3px solid transparent;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	margin: 0 -4px 0 0; 
    font-size: 12px; 
    color: #fff;
}

ul.menu li a:hover {
	background: #3f3f3f;
	color: #fff;
    background-color: initial;
}

ul.menu ul { 
	opacity: 0; 
  	filter: alpha(opacity=0); 
	position: absolute;
	top:-99999px; 
	left: 0;
	z-index: 999999;
	background: #3f3f3f;
	width: 200px;
    padding: 0 8px;
}

ul.menu ul li a:hover {
	color: #FFD709 !important;
	border-top: 1px solid transparent;
}

ul.menu ul li a {
	padding: 8px 15px;
	display: block;
	width: 170px;
	font-family: Tahoma, Arial, sans-serif;
	text-transform: none;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 1px solid #4a4a4a;
	border-top: 1px solid transparent;
}

ul.menu ul ul { 
	position:absolute; 
	top:-99999px; 
	left:100%; 
	opacity: 0;
	margin-left: 4px;
}

ul.menu li:hover > ul {  
    opacity: 1; 
    position:absolute; 
    top:99%; 
    left:0; 
}

ul.menu ul li:hover > ul { 
    position:absolute; 
    top:0; left:100%; 
    opacity: 1; 
    z-index:497; 
    background: #3f3f3f; 
    border: 0;
}

ul.menu li:hover > a { 
    background: #3f3f3f;  
    color: #fff;
}

ul.menu ul li:hover > a {
    border-top: 1px solid transparent; 
    color: #fff;
}



/*=================================================================================================================================================== */
/*=================================================================================================================================================== */
/*=================================================================================================================================================== */


/*================================================= */
/* #Media Queries (only for structure, not content)
================================================== */
	
	/* Desktop 1200 */
	@media only screen and (min-width: 1200px) {

		ul.menu li a, #userinfo a.trigger, #userinfo a.trigger:hover { font-size: 16px; } /* Larger Nav Menu Links */
        #userinfo { min-width: 260px; } /* wider user info */
        #titlebar { margin-bottom: 10px; } /* extra witespace */
        #titlebar h1 { font-size: 30px; margin-top: 10px; } /* Larger Titlebar Text */

        footer .photo-stream img { margin: 0 23px 10px 0 !important; }

        ul.menu li a { font-size: 16px !important; } /* Larger Menu Items */
	} 

    /* Desktop 960 */
	@media only screen and (min-width: 960px) {
        #navigation { margin-left: 18px; }

        footer .photo-stream img { margin: 0 12px 10px 0; }
	} 
	
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	    
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#logo img { width: 175px; margin-top: 4px; }
	}

    /* All Mobile Sizes (devices and browser) -- LANDSCAPE */
	@media only screen and (max-width: 767px) and (orientation: landscape) {
	    #navigation { 
            display: block; 
            left: -160px; 
            width: auto !important; 
            height: 195px !important; 
	    }

        #navigation ul li a { width: 165px !important; }
	}


	/* All Mobile Sizes (devices and browser) -- PORTRAIT  */
	@media only screen and (max-width: 767px) and (orientation: portrait) {

        /* Nav Menu */
		#navigation
		{
            width: 275px;
		    right: 0;
		    height: 460px;
		}		

        #navigation li { float: none; }
        #navigation ul li a { width: 225px !important; }
	}

    /* iPhone 5 Retina regardless of IOS version - PORTRAIT */
    @media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
        #navigation > li:nth-of-type(4) ul { display: none; } /* hide about menu items to gain space */
        #logo img { width: 175px; }
    }

    /* iPhone 5 Retina regardless of IOS version - LANDSCAPE */
    @media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : landscape) {
        #navigation { padding-top: 0 !important; top: 58px !important; } /* adjust menu placement */
    }

    /* All Mobile Sizes (devices and browser)  */
    @media only screen and (max-width: 767px) {

        header .container { position: fixed; width: 100%; background: #363636; padding: 0 10px; height: 69px; z-index: 999; } /* sticky header */
        #titlebar { padding-top: 80px; } /* sticky header */
        #titlebar h1 { margin-top: 2px; } /* Decrease margin of title h1 */
	    
        #search { display: none; text-align: left; } /* left align search, hide by default */
        #search input[type=image] { right: 0; left: 278px; } /* reposition search magnify icon */
        #search a { margin: 4px 0 0 4px; } /* adjust padding of finder link */

        /* Nav to Hamburger Menu */
        #mobilemenu { position: absolute; right: 20px; top: 18px; }
        #mobilemenu a, #mobilemenu button { margin-left: 6px; }
        #mobilemenu button { padding: 3px 6px 1px 6px; background-color: #3f3f3f; border-radius: 0; outline-width: 0; }
    
        #mobilemenu button .glyphicon { color: #9c9e9d; font-size: 20px; }        

		#navigation
		{
            display: none;
            position: absolute !important;
            top: 69px;
            background-color: #444 !important;
            z-index: 1000;		    
            border-left: solid 14px #333;
            border-bottom: solid 14px #333;
		    padding-top: 10px;
            color: #fff !important;
		}		

		#navigation ul { background: none; opacity: 1; position: relative; top: 0; left: 0; width: auto !important; }
		#navigation > li { margin-bottom: 14px !important; display: block;  }
		#navigation > li > a { color: #FFD709 !important; font-size: 16px; padding-bottom: 6px !important; padding-top: 6px;  }
		#navigation li:hover > a , #navigation ul li:hover > ul { background-color: initial !important; } /* no bg on menu items */
		#navigation ul li { display: block; float: none; padding: 4px 0 0 10px; }
		#navigation ul li a { line-height: 21px; font-size: 15px; border: 0; padding: 0; line-height: 18px; }

        footer h4 { border-top: 1px solid #484848; margin: 15px 0; }

        #subfoot { text-align: center; }
        #buildinfo { display: block; text-align: center; }

        /*.btn { display: block; }*/

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
	}
	



