<div id="ScaleDialog" class="modal">
    <h2>Scale Recipe</h2>
    <p>Scaling this recipe will automatically adjust each ingredient to match the target batch size.</p>
    
    <div id="ScaleSlider"></div>

    <div class="wrapper">
        <input type="text" id="TargetVolume" value="6.5" data-filter="positiveFloat" />
        <h2>
            <span data-unit="s"> gallons</span>
            <span data-unit="m"> liters</span>
        </h2>
    </div>
    
    <a href="#" class="button button_green margintop20" id="ApplyScaleButton">Scale Recipe</a>
</div>