@{
    this.Layout = null;    
}

<div data-template="f_Row" class="hidden">
    <!--[@Html.Partial("_BuilderFermentableRow", new RecipeFermentableViewModel())]-->
</div>
<div data-template="h_Row" class="hidden">
    <!--[@Html.Partial("_BuilderHopRow", new RecipeHopViewModel())]-->
</div>
<div data-template="y_Row" class="hidden">
    <!--[@Html.Partial("_BuilderYeastRow", new RecipeYeastViewModel())]-->
</div>
<div data-template="o_Row" class="hidden">
    <!--[@Html.Partial("_BuilderAdjunctRow", new RecipeOtherViewModel())]-->
</div>
<div data-template="m_Row" class="hidden">
    <!--[@Html.Partial("_BuilderMashStepRow", new RecipeMashStepViewModel())]-->
</div>
<div data-template="s_Row" class="hidden">
    <!--[@Html.Partial("_BuilderStepRow", new RecipeStepViewModel())]-->
</div>