@model RecipeViewModel

@{
    Layout = "~/Views/Shared/_LayoutNoShell.cshtml";
}

<style type="text/css">
	#middle-wrapper { width: 650px; }
</style>

<div id="view-changerecipephoto">
    @if(!ViewBag.UploadComplete)
    {
        <style type="text/css">
            .messages { display: none; }
            .messages ul li span { display: inline-block; margin-right: 18px; }
            .messages ul li * { vertical-align: middle; }
        </style>


        <div id="PhotoDialog" class="modal">
            @using(Html.BeginForm("BuilderChangeRecipePhoto", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Partial("_BuilderPhotoDialog", Model)

                <input type="hidden" name="RecipeId" value="@Model.RecipeId" />
                <input type="submit" class="button button_green margintop20" id="SavePhotoButton" value="Upload Photo" />
            }
        </div>

        @section Scripts
        {
            <script type="text/javascript">
                $(function() {
                    $('#view-changerecipephoto form').submit(function() {

                        if($('#PhotoForUpload').val().length === 0) {
                            $('.fileuploadwrapper').addClass("input-validation-error");
                            return false;
                        }

                        $('#view-changerecipephoto').hide();
                        $('.messages').show();
                        parent.parent.photoUploadInProgress();
                    });

                    $('#PhotoForUpload').change(function() {
                        if($(this).val().length > 0) {
                            $('.fileuploadwrapper').removeClass("input-validation-error");
                        }
                    });
                });
            </script>
        }
    }
    else
    {
        <script type="text/javascript">
            parent.parent.photoUploadComplete();
        </script>
    }
</div>