@{
    Layout = "~/Views/Shared/_LayoutNoShell.cshtml";
}

<div id="view-importbeerxml" class="modal">

    <h2>Import Recipe from Beer Xml</h2>

    <p>Choose the Beer Xml file from your computer and click "Import Recipe".</p>

    @using (Html.BeginForm("ImportBeerXmlDialog", "Recipe", FormMethod.Post, new { id = "ImportRecipeForm", target = "_parent", enctype = "multipart/form-data" }))
    {
        <div class="form-field fileuploadwrapper">
            <span><input type="file" name="BeerXmlFile" id="BeerXmlFile" /></span>
        </div>
    
        <input type="submit" id="ImportRecipeButton" class="button button_green margintop20" value="Import Recipe" />
    }
</div>