@using Brewgr.Web
@model IList<Brewgr.Web.Core.Model.RecipeSummary>

@{
	ViewBag.Title = "My Recipes";
}

<div id="myrecipes-view" class="content">
	
	<h3>You've created @Model.Count recipe(s)</h3>

	@Html.Partial("_RecipeList", Model)
	
	<a href="@Url.Action("homebrew-recipe-calculator", "Recipe", null, Url.Https())" class="button button_green">Create a New Recipe</a>

</div>
