@model System.Collections.Generic.IList<Brewgr.Web.Core.Model.RecipeSummary>

@{
    ViewBag.Title = "Pliny The Elder Clone Recipes";
    ViewBag.Description = "Homebrew clone recipes for Russian River's Pliny The Elder, a highly popular Double IPA enjoyed by craft beer enthusiasts";
}
    
<div id="view-styledetail" class="content">
    
    <div class="hero">
        <div class="intro">
            <h2>
                Pliny The Elder by Russian River Brewing Co. is considered one of
                the best beers in the world.
            </h2>
            <p>
                Many craft beer enthusiasts and homebrewers alike will back up the claim that
                Pliny The Elder is one of the best beers in the world.  This imperial/double IPA is
                made in limited quantities and is sought after by millions all over the world.
                Want to brew your own batch of Pliny? Choose from one of these Pliny clone recipes 
                submitted by other homebrewers.  You can also 
                <a href="https://www.homebrewersassociation.org/attachments/0000/6351/doubleIPA.pdf" target="_blank">check out this article from Vinnie Cilurzo, the man behind the legend</a>.
            </p>
        </div>
        <div class="image">
            <img src="/img/pliny-the-elder.jpg" alt="Pliny The Elder Bottle">
        </div>
        <div class="clearall"></div>
    </div>

    <div class="ad-sense" style="width: 728px; margin: 0 auto 18px auto;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Brewgr - hombrew-recipes letterboard -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-6867430027291087"
             data-ad-slot="7085856109"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="primary">
        @Html.Partial("_RecipeList", Model)
        
        <div class="fine-print padding10">
            All recipes have been submitted by users of brewgr.com and are in no way related to Russian River Brewing Co., its products or trademarks.  Brewgr.com offes no guarantees
            or warranties on these recipes.  Brew at your own risk.
        </div>

        @*@Html.Partial("_PageNavigation", Model)*@
    </div>
     <div class="compliment">
        <div class="ad-sense" style="margin: 18px 0 0 24px;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Brewgr - skyscraper -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:160px;height:600px"
                 data-ad-client="ca-pub-6867430027291087"
                 data-ad-slot="4271990507"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>

</div>
